body {
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-family: 'Amaranth', Helvetica, Arial, sans-serif; */
  font-family: 'Istok Web', monospace;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #88b9eB;
}
#info_container {
  padding: 20px;
  margin: 20px;
  width: 400px;
  height: 120px;
  position: absolute;
  z-index: 11;
}
#info_container p {
  float: left;
  margin: 5px 0;
  font-weight: 200;
  font-size: 14px;
  color: #999;
  padding: 2px 4px;
}
#info_container p span {
  background: black;
  color: white;
  padding: 2px 4px;
  line-height: 20px;
}
.read_more p {
  padding: 10px 0;
}
#info_container .foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  padding: 40px;
}
#info_container .background {
  padding: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  left: 20px;
}
.name {
  cursor: none;
  margin-right: 15px;
  font-size: 55px;
  color: #fff;
  font-family: 'Carter One', sans-serif;
  font-family: 'Kelly Slab', sans-serif;
  font-family: 'Monofett', sans-serif;
  text-shadow: 2px 2px #000;
}
.description {
  color: #AE0000;
  font-size: 17px;
  padding: 5px;
  width: 350px;
  color: white;
}
.link {
  width: 35px;
  height: 35px;
  float: left;
  margin: 5px;
  margin-top: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.linkedin { opacity: 0.5; background-image: url(/img/linkedin.png); }
.github   { opacity: 0.5; background-image: url(/img/github.png);   }
.twitter  { opacity: 0.5; background-image: url(/img/twitter.png);  }
.facebook { opacity: 0.5; background-image: url(/img/facebook.png); }
.gmail    { opacity: 0.5; background-image: url(/img/gmail.png);    }

.linkedin:hover { opacity: 1; }
.github:hover   { opacity: 1; }
.twitter:hover  { opacity: 1; }
.facebook:hover { opacity: 1; }
.gmail:hover    { opacity: 1; }

#fork_me  { display: none; };
