#gol

#info_container
  .background
  .foreground
    %h1.name Lucas Nasif
    .links
      %a(href='http://ar.linkedin.com/in/ehqhvm' target='_blank')
        .linkedin.link
      %a(href='http://twitter.com/ehqhvm' target='_blank')
        .twitter.link
      %a(href='http://www.facebook.com/lucas.nasif' target='_blank')
        .facebook.link
      %a(href='http://github.com/ehqhvm' target='_blank')
        .github.link
      %a(href='mailto:nasif.lucas@gmail.com')
        .gmail.link
    %p
      I'm a software developer located in Buenos Aires, Argentina.
    %p
      Check out the links above or
      %a#read_more Read More
      \.

    .read_more(style='display: none; margin-top: 15px;')
      %p
        On my spare time I like creating cool apps and experiments like this one. I also like playing Go and practicing ninjitsu!

      %p
        Above all, I like to keep things
        %a(href="http://www.infoq.com/presentations/Simple-Made-Easy") simple
        and find motivation and purpose on
        %a(href="http://www.ritholtz.com/blog/2012/02/bret-victor-inventing-on-principle/") principles
        \.

      %p
        In case you're interested, the next fun project I'm working on, is about building a light-weight cool text editor. It will have vim keybindings and some cool features that I've been thinking about for a while now.

      %p
        If that sounds cool, ping me on IRC (my nickname is ehqhvm) and we can chat about data structures, platforms, languages, or maybe just about how
        %a(href="http://en.wikipedia.org/wiki/Shen_(programming_language)") Shen
        is going to change the world.

      %p
        Now go ahead,
        %a#enjoy_the_show enjoy the show
        \.


#fork_me
  <a href="http://github.com/ehqhvm/lucasnasif.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
