#info_container
  .background
  .foreground
    %h1.name Lucas Nasif
    .links
      %a(href='http://ar.linkedin.com/in/ehqhvm' target='_blank')
        .linkedin.link
      %a(href='http://twitter.com/ehqhvm' target='_blank')
        .twitter.link
      %a(href='http://www.facebook.com/lucas.nasif' target='_blank')
        .facebook.link
      %a(href='http://github.com/ehqhvm' target='_blank')
        .github.link
      %a(href='mailto:nasif.lucas@gmail.com')
        .gmail.link
    %p
      I'm a software developer located in Buenos Aires, Argentina.
    %p
      Check out the links above or
      %a#read_more Read More
      \.

    .read_more(style='display: none; margin-top: 15px;')
      %p
        On my spare time I like creating cool apps and experiments like this site. I also like playing Go and practicing ninjitsu!

      %p
        Above all, I like keeping things
        %a(href="http://www.infoq.com/presentations/Simple-Made-Easy") simple
        and I find motivation and purpose on
        %a(href="http://www.ritholtz.com/blog/2012/02/bret-victor-inventing-on-principle/") principles
        \.

      %p
        What you see on the background is a 3d representation of the
        %a(href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life") Game Of Life
        \. It's rendering in real time using webgl. It also uses web workers and other cool technologies. The code is open source, so check it out!

      %p
        But first...
        %a#enjoy_the_show enjoy the show
        \.

#fork_me
  %a(href="https://github.com/ehqhvm/lucasnasif.com")
    %img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 999999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub")
